@page "/blog/BlogPage"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages
@model RazorPageModel
@functions{

    [AllowAnonymous]
    public class RazorPageModel : PageModel { }

}
<h1>Razor page</h1>
<a asp-controller="Home" asp-action="Index">Tapas.Demo.Web</a>
<br />