@page "/razorpage"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.RazorPages
@model RazorPageModel
@{
    Layout = "_Layout";
}
@functions{

    [ AllowAnonymous ]
    public class RazorPageModel : PageModel { }

}

<h1>Razor page</h1>